@charset "utf-8";
/* CSS Document */

body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input { margin: 0; padding: 0; border: 0; }
body { font-size: 12px; font-family: '\65B0\5B8B\4F53', '\5B8B\4F53', Verdana; }
li { list-style-type: none; }
select, input, img { vertical-align: middle; outline: none; display:block; }
a { text-decoration: none;color:#000; }
a { blr:expression(this.onFocus=this.blur())}
a { outline: none; }
html { overflow-x: hidden; }
i,em{font-style: normal;}
b,strong{font-weight: normal;}

.clearfix::after { content: ""; display: block; clear: both; }
.clearfix { zoom: 1; }

.fl { float: left; }
.fr { float: right; }